.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.85));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  max-width: auto;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
}
